@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');

:root {
	--main-font: 'Open Sans', san-serif;
	--nav-background: #343433;
}

* {
	margin: 0px;
	box-sizing: border-box;
}

body {
	background-color: #e9e9e9;
	font-family: var(--main-font);
}

nav {
	position: fixed;
	width: 100vw;
	display: flex;
	justify-content: space-around;
	padding: 1em 2em 1em 2em;
	background-color: var(--nav-background);
	color: white;
	box-shadow: 0px 0px 5px black;
	z-index: 10;
}

@media (max-width: 460px) {
}

/* h3,
h4 {
	color: white;
} */

/* this needs to be removed later  */
img {
	max-height: 400px;
	max-width: 400px;
}
.section {
	padding: 5em;
	background-color: burlywood;
}

.section:nth-child(odd) {
	background: var(--nav-background);
	color: white;
}

.section:nth-child(even) {
	background: burlywood;
}

.section__hero {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 80vh;
}

.section-content__flex {
	display: flex;
	justify-content: space-around;
	flex: wrap;
}

.section-content {
	margin: 0em 5em 0em 5em;
}

.logo-image {
	width: 500px;
}

.profile-card {
	background: white;
	box-shadow: 1px 1px 5px black;
	margin-top: 2rem;
	margin-bottom: 2rem;
	position: relative;
	min-width: 400px;
}

.profile-card__header {
	display: flex;
	background: #142449;
	min-height: 150px;
}

.profile-card__content {
	min-height: 300px;
	padding: 1rem;
}

.profile-image {
	display: block;
	border: 2px solid white;
	border-radius: 100%;
	width: 150px;
	max-height: 150px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 1rem;
	margin-bottom: 1rem; 
}

@media (max-width: 460px) {
	nav {
		height: 50px;
	}
	nav > a {
		display: none;
	}

	.section {
		padding: 20px;
	}

	.section-content {
		width: auto;
		margin: 0;
	}

	.section-content__flex {
		flex-direction: column;
	}

	.profile-card,
	.profile-card__content,
	.profile-card__header {
		min-width: 0px;
		max-width: 400px;
	}
}