@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');

:root {
	--main-font: 'Open Sans', san-serif;
	--nav-background: #343433;
}

* {
	margin: 0px;
	box-sizing: border-box;
}

body {
	background-color: #e9e9e9;
	font-family: var(--main-font);
}

nav {
	position: fixed;
	width: 100vw;
	min-height: 60px;
	background-color: white;
	color: black;
	border-bottom: solid 2px burlywood;
	box-shadow: 10px 10px 23px -9px rgba(0, 0, 0, 0.26);
	z-index: 10;
}

.nav-list {
	margin: none;
	padding: none;
	list-style: none;
	display: flex;
	justify-content: space-around;
	height: 100%;
}

.nav-list > li {
	height: 100%;
	padding: 1rem;
	transition: 1s;
}

.nav-list > li:hover,
.mobile-menu-button:hover {
	background-color: burlywood;
	box-shadow: 10px 10px 23px -9px rgba(0, 0, 0, 0.26);
}

.mobile-menu-button {
	display: none;
}

img {
	max-height: 400px;
	max-width: 400px;
}

hr {
	margin: 1rem;
	width: 100%;
}
.section {
	padding: 5em;
}

.section:nth-child(odd) {
	background: var(--nav-background);
	color: white;
}

.section:nth-child(even) {
	background-image: url('./assets/wheat-field.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

.section__hero {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
}

.section-content__flex {
	display: flex;
	justify-content: space-around;
	flex: wrap;
}

.section-content {
	margin: 0em 5em 0em 5em;
}

.section-content__center {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.logo-image {
	width: 500px;
}

.profile-card {
	background: white;
	color: black;
	box-shadow: 10px 10px 23px -9px rgba(0, 0, 0, 0.26);
	margin-top: 2rem;
	margin-bottom: 2rem;
	position: relative;
	min-width: 400px;
}

.profile-card__header {
	display: flex;
	background: #142449;
	min-height: 150px;
}

.profile-card__content {
	padding: 1rem;
}

.profile-image {
	display: block;
	border: 2px solid white;
	border-radius: 100%;
	width: 150px;
	max-height: 150px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 1rem;
	margin-bottom: 1rem;
}

#songs {
	text-align: center;
}

@media (max-width: 460px) {
	nav {
		min-height: 50px;
		transition: 1s;
	}
	.nav-list {
		display: none;
		transition: 1s;
	}

	.nav-list__active {
		list-style: none;
	}

	.mobile-menu-button {
		display: block;
		height: 100%;
		padding: 1rem;
		transition: 1s;
	}

	.section {
		padding: 20px;
	}

	.section-content {
		width: auto;
		margin: 0;
		text-align: center;
	}

	.section-content__flex {
		flex-direction: column;
	}

	.profile-card,
	.profile-card__content,
	.profile-card__header {
		min-width: 0px;
		max-width: 400px;
	}

	.bio {
		display: none;
	}
}
